<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav nav-pills">
        <li class="presentation"> <%= link_to "Locations", locations_path %> </li>
        <li class="presentation"> <%= link_to "Organizations",organizations_path %></li>
        <li class="presentation"> <%= link_to "Programs", programs_path %></li>
      </ul>
    </div>
  </div>
</nav>
